h1 {
    text-align: center;
    font-size: 80px;
}

html,
body {
    background-image: linear-gradient(to bottom, #FFFBD9, #FFF3E5);
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Alice', sans-serif;
    color: #245E1B;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
}

h2 #left {
    text-align: left;
}

h3 {
    font-size: 40px;
    margin-left: 10%;
    margin-right: 10%;
    /* line-height: 2em; */
    text-align: left;
    font-family: 'Yomogi', cursive;
}

button {
    height: 400px;
    width: 400px;
    border-radius: 15%;
    border: black;
    box-shadow: 5px 10px 10px #888888;
}

#relaxed {
    font-size: 60px;
    background-image: linear-gradient(to bottom, #74C5FF, #7272FF, #D797FF);
    margin-left: 8%;
    margin-right: 50px;
    color: white;
    text-shadow: 5px 5px 5px #888888;
    font-family: 'Yomogi', cursive;
}

#creative {
    font-size: 80px;
    background-image: linear-gradient(to bottom, rgb(255, 117, 237), rgb(255, 230, 117), rgb(140, 255, 125), rgb(147, 181, 255));
    color: white;
    text-shadow: 5px 5px 5px #888888;
    font-family: 'Dancing Script', cursive;
}

footer {
    position: absolute;
    border-top: 5px solid rgb(255, 255, 255);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    /* background-color: pink; */
    bottom: 15px;
    height: 115px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

footer a {
    display: block;
    text-decoration: none;
    color: white;
    float: left;
    width: 25%;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.card {
    background-color: white;
    margin-left: 3%;
    float: left;
    width: 28%;
    margin-bottom: 100px;
    height: 430px;
    padding: 20px 20px 7px 20px;
    border-radius: 30px;
    box-shadow: 20px 20px 100px 10px rgb(255, 217, 252);
    margin-bottom: 60px;
    font-size: 30px;
    text-align: center;
}

#center {
    text-align: center;
    margin-top: 25%;
}

#triangle {
    text-align: center;
    margin-top: 30%;
}

#small_robot {
    margin-top: 5%;
    margin-left: 6%;
    width: 85%;
    height: 85%;
}

#panda {
    margin-top: 10%;
}