{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Survey Focus</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'coloring/style.css' %}" />
</head>

<body>
    <br /><br />
    <h1> What would you like to focus on? </h1>
    <div>
        <br />
        <div class="card" style="margin-left:4.6%">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>
        <div class="card" style="margin-left:4.6%">
        </div>
        <div class="card">
        </div>
        <div class="card">
        </div>

</body>


</html>