{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Congratulations!</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Quicksand&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'coloring/style.css' %}" />
</head>


<body>
<br /><br /><br /><br /><br/>
<h1>Congratulations on forming your habit! To celebrate, we’ve added a butterfly to your garden!
</h1>
</body>

</html>