{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Habit Tree</title>

	<!-- font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Alice&family=Quicksand&display=swap" rel="stylesheet">
	<!-- jquery -->
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/style.css' %}" />


	<style type="text/css">
		#color-palette {
			/* width: 390px; */
			background-color: none;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			bottom: 150px;
			left: 3%;
			/* left: 32%; */

		}

		.swatch {
			/* width: 90px;
			height: 50px; */
			width: 90px;
			height: 80px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 40%;
			height: 100%;
			/* padding-left: 0;
			padding-right: 0; */
			/* margin-left: auto;
			margin-right: auto; */
			/* display: block; */
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function () {
			var canvas = document.getElementById('myCanvas');
			var lastColor = null;

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/leaves.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
					var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
					if (hit) {
						// Color pallette keeps track of the full history of colors, though we
						// only color in with the most-recent color.
						hit.item.fillColor = cp.history[cp.history.length - 1];
					}
				}
				tool.onMouseDrag = function (event) {
					var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
					if (hit) {
						// Color pallette keeps track of the full history of colors, though we
						// only color in with the most-recent color.
						hit.item.fillColor = cp.history[cp.history.length - 1];
					}
				}

			}

			// create a color palette with the given colors
			function createColorPalette(colors) {

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
						.addClass("swatch");
					$swatch.click(function () {
						// add color to the color palette history
						cp.history.push($(this).css("background-color"));
						$(this).css('border', '5px solid black');
						if (lastColor != null) {
							$(lastColor).css('border', 'none');
						}
						lastColor = this;
					});
					cp.$container.append($swatch);
				}
				// add white to color palette
				var $swatch = $("<div>").css("background-color", "white")
					.addClass("swatch");
				$swatch.click(function () {
					// add color to the color palette history
					cp.history.push($(this).css("background-color"));
					$(this).css('border', '2px solid black');
					if (lastColor != null) {
						$(lastColor).css('border', 'none');
					}
					lastColor = this;
				});

				cp.$container.append($swatch);
			}


			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette() {
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function (colors) {
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom) {
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function (item) {
					console.log(item);
					//print("hello");
					mandala.item = item._children["design-freepik"];
					paper.project.insertLayer(0, mandala.item);

					if (custom) {
						myCustomInteraction();
					} else {
						myGradientInteraction();
					}

				});
			}

			// Set up the mandala interactivity.
			init(true);
		}
	</script>
</head>

<body>
	<h1>Goal: Run a 6 minute mile</h1>
	<h2>Habit: Drink 8 cups of water</h2>
	<h2>Streak: 5 Days</h2>
	<canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette"></div>
</body>

</html>