{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Home Garden</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Quicksand&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/style.css' %}" />
</head>

<body>
<div class="container">
    <img class="background" src="{% static 'habit_planter/images/home_garden_bg.png' %}">

    <a href="{% url 'habit_tree_1' %}" onclick = "sendMessage()">
        <button class="btn next-btn" type="submit" value="submit">Habit 1</button>
    </a>

    <h1 id= "name"></h1>
    
    <div class="home-info">
        <h2 id= "goal"></h2>
        <h2 id= "checklist" style="font-weight: bold;"><u> Task's Checklist </u></h2>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="habit1check">
            <a href="#" id = "habit1tree">
                <label class="form-check-label" for="habit1check" id= "habit1" onclick = "setInfo('habit1check')"> </label>
            </a>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="habit2check">
            <a href="#" id = "habit2tree">
                <label class="form-check-label" for="habit2check" id= "habit2" onclick = "setInfo('habit2check')"> </label>
            </a>
        </div>
            
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="habit3check">
            <a href="#" id = "habit3tree">
                <label class="form-check-label" for="habit3check" id= "habit3" onclick = "setInfo('habit3check')"> </label>
            </a>
        </div>
            
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="habit4check">
            <a href="#" id = "habit4tree">
                <label class="form-check-label" for="habit4check" id= "habit4" onclick = "setInfo('habit4check')"> </label>
            </a>
        </div>
        <br><br><br><br>
        <h2>Click a label to see that tree!</h2>
    </div>
</div>
    


    <script>
        window.onload = function () {
            if (localStorage.getItem('habit1check')){
                var check1 = document.getElementById("habit1check");
                check1.setAttribute('checked',true);
            }
            if (localStorage.getItem('habit2check')){
                var check2 = document.getElementById("habit2check");
                check2.setAttribute('checked',true);
            }
            if (localStorage.getItem('habit3check')){
                var check3 = document.getElementById("habit3check");
                check3.setAttribute('checked',true);
            }
            if (localStorage.getItem('habit4check')){
                var check4 = document.getElementById("habit4check");
                check4.setAttribute('checked',true);
            }
        }
        function setInfo(message){
            localStorage.setItem(message, true)
            idstring = message.substring(0,6) + "tree";
            numvalue = idstring.charAt(5);
            totalUrl = "http://localhost:8000/habit_planter/"+'habit_tree_' + numvalue+'?' +urlParams.toString();
            document.getElementById(idstring).href = totalUrl;
            // console.log("idstring: " + idstring);
            // console.log("link: " + document.getElementById(idstring).href);
            window.location.replace(totalUrl);
        }
        var url = window.location.href;
        var queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        
        const nameid = urlParams.get('name');
        let name = document.getElementById('name');
        name.innerHTML = "Good Morning, "+ nameid;
        
        const foucs = urlParams.get('focus');
       
        const goalid = urlParams.get('goal');
        let goal = document.getElementById('goal');
        goal.innerHTML = "Goal: " + goalid;

        const habit1id = urlParams.get('habit1');
        let habit1 = document.getElementById('habit1');
        // habit1.innerHTML = "Habit 1: " + habit1id;
        habit1.innerHTML = habit1id;

        const habit2id = urlParams.get('habit2');
        let habit2 = document.getElementById('habit2');
        // habit2.innerHTML = "Habit 2: " + habit2id;
        habit2.innerHTML = habit2id;
        
        const habit3id = urlParams.get('habit3');
        let habit3 = document.getElementById('habit3');
        // habit3.innerHTML = "Habit 3: " + habit3id;
        habit3.innerHTML = habit3id;

        const habit4id = urlParams.get('habit4');
        let habit4 = document.getElementById('habit4');
        // habit4.innerHTML = "Habit 4: " + habit4id;
        habit4.innerHTML = habit4id;

        function sendMessage(){
            // var counter = urlParams.get('habit1counter');
            // if (counter){
            //     counter = parseInt(counter, 10);
            //     console.log(counter);
            //     urlParams.append("habit1counter", counter);
            // }
            totalUrl = "http://localhost:8000/habit_planter/"+'habit_tree_1?' +urlParams.toString();
            document.getElementById("link2").href = totalUrl;
        }
   </script>
</body>

</html>