{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Home Garden</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Quicksand&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/style.css' %}" />
</head>
<body>
<br /><br /><br /><br /><br/>
    <h1> Home</h1>
    <h2>Garden</h2>
    <br /><br /><br /><br /><br/>
    <h1></h1>
    <script>
        var url = window.location.href;
        var queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const name = urlParams.get('name');
        const foucs = urlParams.get('focus');
        const goal = urlParams.get('goal');
        const habit1 = urlParams.get('habit1');
        const habit2 = urlParams.get('habit2');
        const habit3 = urlParams.get('habit3');
        const habit4 = urlParams.get('habit4');
    //     var socket = new WebSocket('ws://' + window.location.host + '/habit_planter/home_garden');        
    //     socket.onmessage = function(receivedMessage) {
	// 			var received = JSON.parse(receivedMessage.data);
    //             let h1 = document.getElementsByTagName('h1')[1];
    //             console.log(received.name);
    //             h1.innerHTML = "Hi, " + received.name;
    //         }
    //    socket.onclose = function(e) {
    //    console.error('Chat socket closed unexpectedly' + e);
//    };
   </script>
</body>

</html>