{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Survey Steps</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/style.css' %}" />

    <style>
        #habit4, #habit5, #habit6, #habit7, #habit8 {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <br /><br />
    <div class="container">
        <img class="background" src="{% static 'habit_planter/images/survey_focus_bg.png' %}">

        <!-- progress bar -->
        <div class="row">
            <div class="survey-progress col-3"></div>
            <div class="survey-progress col-3"></div>
            <div class="survey-progress col-3"></div>
            <div class="survey-progress col-3"></div>
        </div>
        
        <h1 style="font-size: 70px;"> Break down your goal<br>into actionable steps<br>  </h1>

        <h2 id = "goal-label">Goal: </h2>
        <!-- habit input boxes -->
        <div class="habit-boxes">
            <button class="form-control habit-input" id = "addhabit" onclick = addHabit() >+ Add Habit</button>
            <input class="form-control habit-input" id = "habit1" type="text" placeholder="Habit #1">
            <input class="form-control habit-input" id = "habit2"  type="text" placeholder="Habit #2">
            <input class="form-control habit-input" id = "habit3" type="text" placeholder="Habit #3">
            <input class="form-control habit-input" id = "habit4" type="text" placeholder="Habit #4">
            <input class="form-control habit-input" id = "habit5"  type="text" placeholder="Habit #5">
            <input class="form-control habit-input" id = "habit6" type="text" placeholder="Habit #6">
            <input class="form-control habit-input" id = "habit7" type="text" placeholder="Habit #7">
            <input class="form-control habit-input" id = "habit8"  type="text" placeholder="Habit #8">
            
  
        </div>

        <!-- navigation buttons -->
        <a href="{% url 'survey_goal' %}">
            <button class="btn back-btn">Back</button>
        </a>
        <a href = "{% url 'home_garden' %}" onclick = "sendMessage()">
            <button class="btn next-btn" type="submit" value="submit">Finish</button>
        </a>
    </div>
    <script>
      
        var habitCounter = 3
        localStorage.setItem("habitCounter", habitCounter);

        function addHabit() {

            habitCounter = parseInt(localStorage.getItem("habitCounter")) + 1;
            localStorage.setItem("habitCounter", habitCounter);

            var currID = "habit" + habitCounter;
            document.getElementById(currID).style.visibility = "visible";
        }
       
            // var base_string = "<div class='habit-boxes one'> <input class='form-control habit-input' id = 'habit1' type='text' placeholder='Habit #1'>"
            // + "<input class='form-control habit-input' id = 'habit2' type='text' placeholder='Habit #2'><input class='form-control habit-input' id = 'habit3' type='text' placeholder='Habit #3'></div>";


            // el = document.getElementsByClassName("habit-boxes");
            // var nodes = el.childNodes;
            // var base_val = '';

            // for(var i = 0; i < nodes.length; i++) {                        
            // switch(nodes[i].nodeName) {
            //     case '#text'    : text = text + nodes[i].nodeValue;   break;
            //     case 'BR'       : text = text + '\n';      break;
            // }
            // }
            
            // console.log(base_val);
            // let habitnum = "habit" + habitCounter;
            
            //console.log(innerString);
            // document.getElementsByClassName("habit-boxes").innerHTML.pop();

            // console.log(document.getElementsByClassName("habit-boxes").innerHTML);
            // console.log(innerString);
       
            // document.getElementsByClassName("habit-boxes").innerHTML = document.getElementsByClassName("habit-boxes").innerHTML.pop() + "<button> NEW </button> </div>"
            // "<input class='form-control habit-input' id = 'habit' + habitCounter  type='text' placeholder='Habit #' +  habitCounter>";
        


        var goal = localStorage.getItem("goal")
		let goalfocus = document.getElementById('goal-label');
		goalfocus.innerHTML = "Goal: " + goal;
         
          function sendMessage(message){
            let habit1 = document.getElementById('habit1');
            let habit2 = document.getElementById('habit2');
            let habit3 = document.getElementById('habit3');
            let habit4 = document.getElementById('habit4');
            let habit5 = document.getElementById('habit5');
            let habit6 = document.getElementById('habit6');
            let habit7 = document.getElementById('habit7');
            let habit8 = document.getElementById('habit8');
    
            localStorage.setItem("habit1", habit1.value);
            localStorage.setItem("habit2", habit2.value);
            localStorage.setItem("habit3", habit3.value);
            localStorage.setItem("habit4", habit4.value);
            localStorage.setItem("habit5", habit5.value);
            localStorage.setItem("habit6", habit6.value);
            localStorage.setItem("habit7", habit7.value);
            localStorage.setItem("habit8", habit8.value);

            // console.log(urlParams.toString());
            // totalUrl = "http://localhost:8000/habit_planter/"+'home_garden?' +urlParams.toString();
            // console.log(totalUrl);
            // document.getElementById("link2").href = totalUrl;
        }
    </script>

</body>

</html>