{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Survey Goal</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/style.css' %}" />
</head>

<body>
    <br /><br />
    <div class="container">
        <img class="background" src="{% static 'habit_planter/images/survey_goal_bg.png' %}">

        <!-- progress bar -->
        <div class="row">
            <div class="survey-progress col-3"></div>
            <div class="survey-progress col-3"></div>
            <div class="survey-progress col-3"></div>
            <div class="col-3"></div>
        </div>

        <h1> Set a Goal<br>to start your garden</h1>

        <div id="focus-label">Focus: </div>
        <textarea class="form-control" id="goal-input" rows="3"></textarea>

        <div id="suggestions-label"> Suggestions </div>
        <div id="suggestions-box">
            <!-- needs to be changeable depending on the focus -->
        </div>

        <!-- navigation buttons -->
        <a href="{% url 'survey_focus' %}">
            <button class="btn back-btn">Back</button>
        </a>
        <a href="#"id = "link2" onclick = sendMessage()>
            <button class="btn next-btn" type="submit" value="submit">Next</button>
        </a>
    </div>
    <script>
        var url = window.location.href;
        var queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const focus = urlParams.get('focus');
        let goalfocus = document.getElementById('focus-label');
        goalfocus.innerHTML = "Focus: " + focus;

        function sendMessage(message){
            let goalfocus = document.getElementById('goal-input');
            console.log(goalfocus.value);
            urlParams.append("goal", goalfocus.value);
            console.log(urlParams.toString());
            totalUrl = "http://localhost:8000/habit_planter/"+'survey_steps?' +urlParams.toString();
            console.log(totalUrl);
            document.getElementById("link2").href = totalUrl;
        }
    </script>
</body>

</html>