{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Survey Focus</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/style.css' %}" />
</head>

<body>
    <br /><br />
    <div class="container">
        <img class="background" src="{% static 'habit_planter/images/survey_focus_bg.png' %}">

        <!-- progress bar -->
        <div class="row">
            <div class="survey-progress col-3"></div>
            <div class="survey-progress col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
        
        <h1 style="left:20%;"> What would you<br>like to focus on? </h1>

        <!-- cards -->
        <!-- needs selection function -->
        <div class="card-container">
            <div class="focus-row row">
                <div class="col-5" onclick = "sendMessage('Physical Health')">Physical<br>Health</div>
                <div class="col-5" onclick = "sendMessage('Productivity')" style="padding-top: 12%;">Productivity</div>
            </div>
            <div class="focus-row row">
                <div class="col-5" onclick = "sendMessage('Mental Health')">Mental<br>Health</div>
                <div class="col-5" style="padding-top: 12%;" onclick = "sendMessage('Finances')">Finances</div>
            </div>
            <div class="focus-row row">
                <div class="col-5" onclick = "sendMessage('Social Wellbeing')">Social<br>Wellbeing</div>
                <div class="col-5" onclick = "sendMessage('Career Work')">Career/<br>Work</div>
            </div>
        </div>

        <!-- navigation buttons -->
        <a href="{% url 'survey_name' %}">
            <button class="btn back-btn">Back</button>
        </a>
        <a href="{% url 'survey_goal' %}">
            <button class="btn next-btn" type="submit" value="submit">Next</button>
        </a>
    </div>
    <script>
        var socket = new WebSocket('ws://' + window.location.host + '/habit_planter/survey_focus');
        function sendMessage(message){
            console.log(message);
            socket.send("{\"focus\" : " + JSON.stringify(message) + "}");
            }  
         socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly' + e);
    };
    </script>

    

</body>


</html>