{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Survey Name</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/style.css' %}" />
</head>

<body>
    <br /><br />
    <div class="container">
        <img class="background" src="{% static 'habit_planter/images/survey_intro_bg.png' %}">

        <!-- progress bar -->
        <div class="row">
            <div class="survey-progress col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>

        <h1> Hello! What is your <br> name? </h1>

        <!-- may need to combine submit button with next button to send and parse text? -->
        <input class="form-control name-input" type="text" placeholder="Name" id = "name">

        <a href="{% url 'survey_focus' %}">
            <button class="btn next-btn" type="submit" value="submit" onclick = sendMessage()>Next</button>
        </a>
        <script>
            console.log('what hape');
            var socket = new WebSocket('ws://' + window.location.host + '/habit_planter/survey_name');
            function sendMessage(){
                var message = document.getElementById("name").value;
                console.log(message);
                socket.send("{\"name\" : " + JSON.stringify(message) + "}");
                }  
             socket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly' + e);
        };
        </script>
    </div>

</body>

</html>