{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Title</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Quicksand&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'habit_planter/style.css' %}" />
</head>


<body>
    <div class="container">
        <img class="background" src="{% static 'habit_planter/images/title_bg.png' %}">
        <h1 style="font-family:'Quicksand';"> artistree </h1>

        <a href="{% url 'survey_name' %}">
            <h2> start your journey > </h2>
        </a>
    </div>
</body>

<style>
    h1 {
        top: 20%;
        left: 27%;
        font-size:120px;
    }
    h2 {
        position:absolute;
        font-size:60px;
        top: 40%;
        left: 22%;
        color: #1C6F1F;
    }

</style>

</html>