html,
body {
    background-image: linear-gradient(to bottom, #FFFBD9, #FFF3E5);
    width: 100%;
    height: 100%;
    color: white;
    color: #245E1B;
}

.container {
    position: relative;
    text-align: center;
    max-width: none;
    max-height: none;
    padding: 0;
    width: 100%;
    height: 100%;
}
.background {
    width: 100%;
    height: 100%;
}

/* SURVEY PROGRESS BAR */
.row {
    position: absolute;
    top: 1%;
    flex-wrap: nowrap;
    width: 70%;
    left: 8%
}
.col-3 {
    height: 10px;
    padding: 15px;
    margin: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #56AC7D;
}
.survey-progress {
    background-color: #56AC7D;
}


/* QUESTION / INSTRUCTIONS */
h1 {
    position: absolute;
    top: 13%;
    left: 15%;
    font-family: 'Alice', sans-serif;
    font-size: 80px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
}

.name-input {
    position: absolute;
    font-size: 50px;
    top: 33%;
    left: 15%;
    width: 70%;
    height: 100px;
    border: 3px solid #41904E;
    border-radius: 20px;
}

.back-btn {
    position: absolute;
    font-size: 38px;
    font-family: 'Quicksand', sans-serif;
    color: #803333;
    text-align: center;
    left: 11%;
    bottom: 7%;
    width: 190px;
    height: 80px;
    background: #FECFB5;
    box-shadow: 0px 4px 4px rgba(117, 110, 110, 0.5);
    border-radius: 10px;
}

.next-btn {
    position: absolute;
    font-size: 38px;
    font-family: 'Quicksand', sans-serif;
    color: #803333;
    text-align: center;
    right: 11%;
    bottom: 7%;
    width: 190px;
    height: 80px;
    background: #FECFB5;
    box-shadow: 0px 4px 4px rgba(117, 110, 110, 0.5);
    border-radius: 10px;
}

.card-container {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 100%;
    text-align: center;
    max-width: none;
    max-height: none;
}
.focus-row {
    position: relative;
    width: 80%;
}
.col-5 {
    height: 270px;
    padding: 20px;
    padding-top: 10%;
    margin: 20px;
    width: 25%;
    border-radius: 30px;
    background-color: white;
    border: 3px solid #56AC7D;
    font-size: 35px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}