html,
body {
    background-image: linear-gradient(to bottom, #E5FFFF, #F2FEF4, #FFEDFD);
    width: 100%;
    height: 100%;
    color: white;
    color: #245E1B;
}

.container {
    position: relative;
    text-align: center;
    max-width: none;
    max-height: none;
    padding: 0;
    width: 100%;
    height: 100%;
}
.background {
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    top: 13%;
    left: 15%;
    font-family: 'Alice', sans-serif;
    font-size: 80px;
}

h2 {
    /* position: absolute; */
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    text-align: center;
}

/* HOME GARDEN FORMATTING */
.home-info {
    position: absolute;
    top: 22%;
    left: 14%;
    width: 700px;
}
#goal {
    margin-bottom: 100px;
}
.form-check {
    text-align: left;
}
.form-check-label {
    font-size: 60px;
    padding-left: 40px;
    margin-top: 30px;
    word-wrap: break-word;
}
.form-check-input {
    top:70px;
    transform: scale(3);
    border: 1px solid #49AC65;
}


/* SURVEY PROGRESS BAR */
.row {
    position: absolute;
    top: 1%;
    flex-wrap: nowrap;
    width: 70%;
    left: 8%
}
.col-3 {
    height: 10px;
    padding: 15px;
    margin: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #56AC7D;
}
.survey-progress {
    background-color: #56AC7D;
}

/* USER INPUT BOXES */
#name-input {
    position: absolute;
    font-size: 50px;
    top: 33%;
    left: 15%;
    width: 70%;
    height: 100px;
    border: 3px solid #41904E;
    border-radius: 20px;
}
#goal-input {
    position: absolute;
    font-size: 50px;
    top: 33%;
    left: 15%;
    width: 70%;
    border: 3px solid #41904E;
    border-radius: 20px;
}
.habit-input {
    position: relative;
    font-size: 50px;
    left: 15%;
    width: 70%;
    height: 120px;
    border: 3px solid #41904E;
    border-radius: 20px;
    margin-bottom: 5%;
}


/* FOCUS BOXES */
.card-container {
    position: absolute;
    top: 28%;
    left: 8%;
    width: 90%;
    text-align: center;
    max-width: none;
    max-height: none;
}
.focus-row {
    position: relative;
    width: 80%;
}
.col-5 {
    height: 270px;
    padding-top: 10%;
    margin: 25px;
    width: 25%;
    border-radius: 30px;
    background-color: white;
    border: 3px solid #56AC7D;
    font-size: 35px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/* FOCUS SELECTION */
.focus-selected {
    background-color: #49AC65;
    border: none;
    color: white;
}

/* GOAL-SPECIFICS */
#focus-label {
    position: absolute;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    top: 28%;
    left: 13%;
    /* word-wrap: break-word; */
    width: 80%;
}
#suggestions-label {
    position: absolute;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    top: 50%;
    left: 15%;
}
#suggestions-box {
    position: absolute;
    height: 350px;
    width: 70%;
    left: 15%;
    top: 56%;
    background: #49AC65;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
ul{
    list-style-type: disc;
    text-align: left;
    font-size: 30px;
    margin: 30px;
    line-height: 70px;
    font-family: 'Quicksand';
    font-weight: bold;
    color: #EFFFF0;
}

/* HABITS BOXES */
.habit-boxes {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}

#addhabit {
    background: #49AC65;
    color: white;
}

#goal-label {
    position: absolute;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    top: 25%;
    left: 15%;
    width: 75%;
    word-wrap: break-word;
}

/* BACK AND NEXT BUTTONS */
.back-btn {
    position: absolute;
    font-size: 38px;
    font-family: 'Quicksand', sans-serif;
    color: #803333;
    text-align: center;
    left: 11%;
    bottom: 7%;
    width: 190px;
    height: 80px;
    background: #FECFB5;
    box-shadow: 0px 4px 4px rgba(117, 110, 110, 0.5);
    border-radius: 10px;
}

.next-btn {
    position: absolute;
    font-size: 38px;
    font-family: 'Quicksand', sans-serif;
    color: #803333;
    text-align: center;
    right: 11%;
    bottom: 7%;
    width: 190px;
    height: 80px;
    background: #FECFB5;
    box-shadow: 0px 4px 4px rgba(117, 110, 110, 0.5);
    border-radius: 10px;
}